html {
}
body {
  background-color:  rgb(245, 241, 235);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
.hero {
    background: url("/images/rm.jpg");
    background-size: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
} 
.top li {
    list-style-type: none;
    line-height: 100%;
    color:#57c1e8;
    font-size: 40px;
    display-inline: block;
    margin-right: 30px;
    font-family: 'Baumans', cursive;
    text-align: right;
}

.hero img {
    margin-top: 3%;
    float: right;
    margin-right: 3%;
}
.hero p {
  font-size: 1.5em;
  font-weight: normal;
}
 
#vid {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/* #main-nav ul li { */
/*   display: inline-block; */
/*   list-style: none; */
/*   margin: 0 1em; */
/* } */
/* #main-nav ul li a, */
/* #main-nav ul li a:visited { */
/*   color: white; */
/* } */
section {
  background-color:  rgb(245, 241, 235);
  width: 100%;
  margin: 10 auto;
  padding: 0;
  color: cyan;
  
}

section h1,
section h2,
section h3 {
   
  text-align: center;
}

.waves {
    color:#57c1e8;
}
.plugins {
  padding: 0;
}


}
.plugins .plugin {
  list-style: none;
  text-align: left;
  /*background-color: white;*/
  color: rgb(45, 49, 57);
  padding: 10px 20px 10px;
  border: 1px solid #0a1818;
  border-radius: 2px;
  margin-bottom: 2px;
}

.plugins .plugin .plugin-title {
  /*text-transform: uppercase;*/
  font-weight: bold;
}
